extends layout

block content
  //Welcome row
  .row
    .col-md-12
      h1 Welcome
      p 
        | Welcome to ClassRat. A pretty cool tool to search for and rate <a href='http://www.dsu.edu'>Dakota State University </a> classes that was
        | made by a couple of students
  
  //Getting started rows  
  .row
    .col-md-12
      h2 Getting Started
      p
        | Just search for the name of the class that you are interested in. Valid formats include both the name and course number
  .row
    .col-md-12
      p 
        | For example, entering <kbd> Discrete Math</kbd> or <kbd> Math 316</kbd> are both valid inputs
  
  //Search Bar Row      
  //Based on the design from http://bootsnipp.com/snippets/featured/advanced-dropdown-search
  div(ng-controller="classCtrl")
    .row
      .col-md-12.searchBar
       .input-group
          input.form-control(type='text', placeholder='Search for classes', ng-model="search")/
          .input-group-addon
            span.glyphicon.glyphicon-search(aria-hidden="true")
          
    //Class listing button rows
    .row.list-group
      .col-md-12
        button.list-group-item(id="classSearchBtn" ng-show="search" ng-click="getClassSections(classListing.name);clearSearchInfo()" ng-repeat="classListing in classListings | filter: search" ng-cloak) {{ classListing.name }}
      
        //Class section button rows
        div(id="sectionContainer")
          div(class-button-item ng-cloak)
        
        //Class section reviews
        div(id="reviewContainer" ng-repeat="review in sectionReviews")
          div(review reviewId="review.id" username="review.username" rating="review.rating" date="review.created" review-text="review.text")
          
        //User review submission form
        div(id="reviewInputFormContainer" ng-controller="reviewInputCtrl")
          div(review-input-form ng-show="reviewsLoaded.getReviewsLoaded()" ng-cloak)