extends layout

block content
  h1 Welcome
  p 
    | Welcome to ClassRat. A pretty cool tool to search for and rate <a href='http://www.dsu.edu'>Dakota State University </a> classes that was
    | made by a couple of students
  h2 Getting Started
  p
    | Just search for the name of the class that your are interested in. Valid formats include both the name and course number
  p 
    | For example, entering <kbd> Discrete Math</kbd> or <kbd> Math 316</kbd> are both valid inputs
  
